## Question 1
1 Create a pandas dataframe (DataFrame name as 'df') with numpy random values (4 features and 4 observation)

In [1]:
import pandas as pd 
import numpy as np

s1=pd.Series(np.random.rand(4))
s2=pd.Series(np.random.rand(4))
s3=pd.Series(np.random.rand(4))
s4=pd.Series(np.random.rand(4))

In [2]:
df=pd.DataFrame([s1,s2,s3,s4])
df

          0         1         2         3
0  0.525822  0.761204  0.441452  0.354540
1  0.273306  0.399551  0.173980  0.523658
2  0.809698  0.400623  0.217356  0.106482
3  0.483756  0.078363  0.075906  0.280189

## Question 2 
Rename the task - 1 'df' dataframe column names to 'Random value 1', 'Random value 2', 'Random value 3' & 'Random value 4'

In [3]:
df.rename(columns={0:'Random Value 1',1:'Random Value 2',2:'Random Value 3',3:'Random Value 4'},inplace=True)
df

   Random Value 1  Random Value 2  Random Value 3  Random Value 4
0        0.525822        0.761204        0.441452        0.354540
1        0.273306        0.399551        0.173980        0.523658
2        0.809698        0.400623        0.217356        0.106482
3        0.483756        0.078363        0.075906        0.280189

## Question 3
Find the descriptive statistics of the 'df' dataframe

In [4]:
df.describe(include='all')

       Random Value 1  Random Value 2  Random Value 3  Random Value 4
count        4.000000        4.000000        4.000000        4.000000
mean         0.523146        0.409935        0.227174        0.316217
std          0.220674        0.279001        0.154621        0.173001
min          0.273306        0.078363        0.075906        0.106482
25%          0.431143        0.319254        0.149462        0.236762
50%          0.504789        0.400087        0.195668        0.317365
75%          0.596791        0.490768        0.273380        0.396820
max          0.809698        0.761204        0.441452        0.523658

## Question 4
Check for the null values in 'df' and find the data type of the columns

In [5]:
df.isnull().all()

Random Value 1    False
Random Value 2    False
Random Value 3    False
Random Value 4    False
dtype: bool

In [6]:
df['Random Value 1'].dtype

dtype('float64')

In [7]:
df['Random Value 2'].dtype

dtype('float64')

In [8]:
df['Random Value 3'].dtype

dtype('float64')

In [9]:
df['Random Value 4'].dtype

dtype('float64')

## Question 5 
Display the 'Random value 2' & 'Random value 3' columns with location method and index location method.

In [10]:
df.loc[0:,'Random Value 2']

0    0.761204
1    0.399551
2    0.400623
3    0.078363
Name: Random Value 2, dtype: float64